# Visual Studio Code
.vscode/

# Rider
.idea/

# User-specific files
*.DotSettings.user
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2019 cache/options directory
.vs/

# MSTest test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
[Tt]est[Rr]esult.xml
nunit-*.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# BenchmarkDotNet
BenchmarkDotNet.Artifacts/

# Paket files
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# Ionide
.ionide/

# Environment files
.env
.env.*
!/.env.example

# Rider Code Coverage
coverage.xml

# Test files
*.testsettings

# Dotnet local tool manifest
.config/dotnet-tools.json

# Mac files
.DS_Store

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump files
*.stackdump

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# ReSharper files
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings

# TeamCity
TeamCity.xml

# DotCover
*.dotCover

# NCrunch
_NCrunch_*
.*crunch*.local.xml

# Docker
docker-compose.override.yml

obj